## Hist. Data

In [1]:
import yfinance as yf
voo = yf.Ticker("VOO")
info = voo.info
history = voo.history(period="max")

In [5]:
history.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits',
       'Capital Gains'],
      dtype='object')

In [ ]:

import pandas as pd
history = voo.history(period="max", auto_adjust=True)


year_end_prices = history['Close'].resample('YE').last()
yearly_returns = year_end_prices.pct_change() * 100
total_df = pd.DataFrame({
    'Year End Price': year_end_prices,
    'Yearly Returns': yearly_returns
})\

In [12]:
total_df

                           Year End Price  Yearly Returns
Date
2010-12-31 00:00:00-05:00       88.374153             NaN
2011-12-31 00:00:00-05:00       90.051010        1.897452
2012-12-31 00:00:00-05:00      104.452667       15.992777
2013-12-31 00:00:00-05:00      138.281250       32.386519
2014-12-31 00:00:00-05:00      156.158127       12.927911
2015-12-31 00:00:00-05:00      158.227402        1.325115
2016-12-31 00:00:00-05:00      177.478485       12.166719
2017-12-31 00:00:00-05:00      216.121902       21.773579
2018-12-31 00:00:00-05:00      206.394943       -4.500682
2019-12-31 00:00:00-05:00      271.130829       31.365054
2020-12-31 00:00:00-05:00      320.813873       18.324380
2021-12-31 00:00:00-05:00      413.190399       28.794430
2022-12-31 00:00:00-05:00      338.096954      -18.174054
2023-12-31 00:00:00-05:00      427.097260       26.323900
2024-12-31 00:00:00-05:00      533.769226       24.976036
2025-12-31 00:00:00-05:00      605.900024       13.513480